@model MVC.Models.KhachHangModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>KhachHangModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tenKh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tenKh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ngaySinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ngaySinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.diaChi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.diaChi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.maKh">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
