@model MVC.Models.PhongModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PhongModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tenPhong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tenPhong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sucChua)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sucChua)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.loaiPhong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.loaiPhong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sanh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sanh.maSanh)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.maPhong">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
